* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100%;

    display: flex;
    flex-direction: column;

    background-color: #282433;
    color: #FFF;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}


.logo{
    display: flex;
    top: 50px;
    float: left;
    left: 100px;
    height: 70px;
    position: absolute;
}

.menu{
    top: 50px;
    display: flex;
    position: absolute;
    float: right;
    right: 90px;
    display: inline;
    list-style-type: none;
}

.menu a{
    padding: 9px;
    margin: 0;
}

a{
    text-decoration: none;
    color: #FFF;
}

.titulo1{
    position: absolute;
    margin-top: 80px;
    text-align: center;
    left: 600px;
}

.projetos{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 100px;
}

.projeto1{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: 100px;
}

.projeto2{
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 120px;
    margin: 100px;
}

.projeto3{
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 120px;
    margin: 100px;
    background-color: #3b344e;
}

.titulos{
    text-align: center;
    margin-top: 150px;
    position: absolute;
}

.titulos:hover{
    transition: 0.7s;
    color: #642bff;
}

.f1{
    position: relative;
    left: -20px;
}

.f2{
    position: relative;
    left: 59px;
}

/* FOOOTER --------------------------------------------------------------------------------------------- */
.footer{
    position: absolute;
    text-align: center;
    font-style: italic;
    padding: 30px;
    left: 550px;
}

/* MEDIA SCREEN  ------------------------------------------------------------------------------------------ */

@media (max-width: 480px){
    body, html{
        width: 100vw;
        height: 100vh;
    }
    .logo{
        display: flex;
        top: 30px;
        float: left;
        left: 10px;
        height: 50px;
        position: absolute; 
    }
    nav, .menu, body, footer{
        max-width: 980px;
    }
    nav, .menu{
        font-size: 14px;
        margin-top: -10px;
        float: right;        
        max-width: 980px;
    }
    .titulo1{
        position: absolute;
        margin-top: -300px;
        left: 140px;
    }
    .projetos{
        display: flex;
        flex-direction:column;
        width: 70%;
        position: absolute;
    }
    .projeto1{
        margin-top: -300px;
        right: 150px;
        float: left;
        width: 70%;
        position: absolute;
    }
    .projeto2{
        right: 200px;
        margin-top: 20px;
        width: 70%;
        position: absolute;
    }
    #mapa{
        left: 50px;
        position: absolute;
    }
    .footer{
        margin-top: 550px;
        left: 90px;
        position: absolute;
    }
}

@media (max-width: 320px){
    body, html{
        width: 100vw;
        height: 100vh;
    }
    .logo{
        display: flex;
        top: 30px;
        float: left;
        left: 10px;
        height: 50px;
        position: absolute; 
    }
    nav, .menu, body, footer{
        max-width: 980px;
    }
    nav, .menu{
        font-size: 14px;
        margin-top: -10px;
        float: right;        
        max-width: 980px;
    }
    .titulo1{
        position: absolute;
        margin-top: -300px;
        left: 140px;
    }
    .projetos{
        display: flex;
        flex-direction:column;
        width: 70%;
        position: absolute;
    }
    .projeto1{
        margin-top: -300px;
        right: 150px;
        float: left;
        width: 70%;
        position: absolute;
    }
    .projeto2{
        right: 200px;
        margin-top: 20px;
        width: 70%;
        position: absolute;
    }
    #mapa{
        left: 50px;
        position: absolute;
    }
    .footer{
        margin-top: 550px;
        left: 90px;
        position: absolute;
    }
}

@media (max-width: 540px){
    body, html{
        width: 100vw;
        height: 100vh;
    }
    .logo{
        display: flex;
        top: 30px;
        float: left;
        left: 10px;
        height: 50px;
        position: absolute; 
    }
    nav, .menu, body, footer{
        max-width: 980px;
    }
    nav, .menu{
        font-size: 14px;
        margin-top: -10px;
        float: right;        
        max-width: 980px;
    }
    .titulo1{
        position: absolute;
        margin-top: -300px;
        left: 140px;
    }
    .projetos{
        display: flex;
        flex-direction:column;
        width: 70%;
        position: absolute;
    }
    .projeto1{
        margin-top: -300px;
        right: 150px;
        float: left;
        width: 70%;
        position: absolute;
    }
    .projeto2{
        right: 200px;
        margin-top: 20px;
        width: 70%;
        position: absolute;
    }
    #mapa{
        left: 50px;
        position: absolute;
    }
    .footer{
        margin-top: 550px;
        left: 90px;
        position: absolute;
    }
}